[Unit]
Description=systemd-env set

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=-/usr/bin/touch /home/joke/env.servicy
ExecStart=-/usr/bin/systemctl --user set-environment JOKE_TEST_SYSTEMD_ENV1=1
ExecStartPost=-/usr/bin/systemctl --user import-environment JOKE_TEST_SYSTEMD_ENV2=2
ExecStartPost=-/usr/bin/touch /home/joke/env.servicy
