[Unit]
Description=switch to forwarded gpg socket
RefuseManualStart=true

[Service]
Type=simple
RemainAfterExit=yes
ExecStartPre=/usr/bin/systemctl --user stop gpg-agent-browser.socket gpg-agent-extra.socket gpg-agent-ssh.socket gpg-agent.socket
ExecStart=/usr/bin/ln -sf %h/.gpg.forward.socket %t/gnupg/S.gpg-agent
ExecStop=/usr/bin/rm -f %h/.gpg.forward.socket

[Install]
WantedBy=default.target

