{{ $email := promptString "email" "joke@xckk.de" -}}
{{ $group:= promptString "group: e.g. home, work" "home" -}}
{{ $trusted:= promptBool "is this node trusted" false -}}

data:
  email: {{ $email | quote }}
  group: {{ $group| quote }}
  trusted: {{ $trusted }}

encryption: gpg
format: yaml
useBuiltinGit: true
git:
  autoAdd: true
  autoCommit: true
  autoPush: true
update:
  recurseSubmodules: true

hooks:
  add:
    post:
      script: /home/joke2/.local/bin/testy
