" Required:
" Add the dein installation directory into runtimepath
set runtimepath+={{ .chezmoi.homeDir }}/.vim/dein

" Required:
call dein#begin('{{ .chezmoi.homeDir }}/.vim/plugins')

" Let dein manage dein
call dein#add('{{ .chezmoi.homeDir }}/.vim/dein/dein')
call dein#add('tpope/vim-fugitive')

" Required:
call dein#end()

" Required:
filetype plugin indent on
syntax enable

" If you want to install not installed plugins on startup.
"if dein#check_install()
"  call dein#install()
"endif

set hidden
set hls
set ignorecase
set number
set smartcase
