#!/bin/sh
set -e

echo "$(tput setaf 2 bold)****************************** <- setup chezmoi git hook$(tput sgr0)"

rm -rf {{ joinPath .chezmoi.sourceDir ".git/hooks" | quote }}
cp -a {{ joinPath .chezmoi.homeDir ".git-template/hooks" | quote }} {{ joinPath .chezmoi.sourceDir ".git/hooks" | quote }}

echo "$(tput setaf 2 bold)****************************** -> setup chezmoi git hook$(tput sgr0)"
