#!/bin/sh
# .tools-versions: {{ include "dot_tool-versions" | sha256sum }}
set -e

. '{{ .chezmoi.homeDir }}/.asdf/asdf.sh'

installed="$(asdf plugin list || true)"
wanted="$(cut -f1 '-d ' ~/.tool-versions)"

for plugin in $wanted; do
  if [ "${installed#*$plugin}" = "$installed" ]; then
    asdf plugin add $plugin
  fi
done

asdf install
