#!/bin/zsh

#
# .zimrc: {{ include "dot_zimrc" | sha256sum }}
# zimfw: {{ include (joinPath .chezmoi.homeDir ".local/share/mise/installs/ubi-zimfw-zimfw/latest/zimfw") | sha256sum }}
#

echo "###################### start updating zim ######################"

ZIM_HOME="{{ joinPath .chezmoi.homeDir ".zim" }}"
ZIM="{{ joinPath .chezmoi.homeDir ".local/share/mise/installs/ubi-zimfw-zimfw/latest/zimfw" }}"

source "$ZIM" uninstall -q
source "$ZIM" install
source "$ZIM" update

echo "###################### done updating zim ######################"
