{
    "name"{{ .chezmoi.pathListSeparator }} "com.justwatch.{{ .chezmoi.config.gopass.command }}",
    "description"{{ .chezmoi.pathListSeparator }} "Gopass wrapper to search and return passwords",
    "path"{{ .chezmoi.pathListSeparator }} "{{ .chezmoi.commandDir }}{{ .chezmoi.pathSeparator }}.config{{ .chezmoi.pathSeparator }}{{ .chezmoi.config.gopass.command }}{{ .chezmoi.pathSeparator }}{{ .chezmoi.config.gopass.command }}_wrapper.sh",
    "type"{{ .chezmoi.pathListSeparator }} "stdio",
    "allowed_origins"{{ .chezmoi.pathListSeparator }} [
        "chrome-extension{{ .chezmoi.pathListSeparator }}{{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }}kkhfnlkhiapbiehimabddjbimfaijdhk{{ .chezmoi.pathSeparator }}"
    ]
}