#!/bin/sh

{{- range (glob (joinPath .chezmoi.homeDir ".config/systemd/user/**/*.service")) }}
# {{ . }}: {{ include . | sha256sum }}
{{- end }}
{{- range (glob (joinPath .chezmoi.homeDir ".config/systemd/user/**/*.socket")) }}
# {{ . }}: {{ include . | sha256sum }}
{{- end }}
{{- range (glob (joinPath .chezmoi.homeDir ".config/systemd/user/**/*.timer")) }}
# {{ . }}: {{ include . | sha256sum }}
{{- end }}

exec systemctl --user daemon-reload
