#!{{ .chezmoi.pathSeparator }}bin{{ .chezmoi.pathSeparator }}sh

export GPG_TTY="$(tty)"
exec {{ .chezmoi.commandDir }}{{ .chezmoi.pathSeparator }}.local{{ .chezmoi.pathSeparator }}bin{{ .chezmoi.pathSeparator }}{{ .chezmoi.config.gopass.command }}-jsonapi listen

