autoclip: true
autoimport: true
cliptimeout: 45
exportkeys: true
nopager: false
notifications: true
parsing: true
path: {{ .chezmoi.homeDir }}/.local/share/gopass/stores/root
safecontent: false
{{ if .work "darwin" }}
mounts:
  eventim: {{ .chezmoi.homeDir }}/.local/share/gopass/stores/eventim
{{ else }}
mounts: {{ "{}" }}
{{ fi }}
