[autosync]
	interval = 1
[core]
	autoimport = true
	autopush = true
	autosync = true
[generate]
	autoclip = true
	symbols	= true
[recipients]
	check = false
[updater]
	check = false
[mounts]
	path = /home/joke/.local/share/gopass/stores/root
[show]
	autoclip = true
{{ if eq .group "work" }}
[mounts "eventim"]
	path = {{ print .chezmoi.homeDir "/.local/share/gopass/stores/eventim" }}
{{ end }}
