[autosync]
        interval = 1
[core]
        autoimport = true
        autopush = true
        autosync = true
[generate]
        autoclip = true
        symbols  = true
[recipients]
        hash = ba82b6696da879d5d18df7b305602db9e8c77824ca499a44e9fb2d8fb220ea50
        check = false
[updater]
        check = false
[mounts]
        path = {{ joinPath .chezmoi.homeDir ".local/share/mise/gopass/stores/root" }}
[show]
        autoclip = true
